---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

const rooms = {
	react: 'c 3.1 room',
	frontEnd: 'Cocklebay room',
	design: 'c 3.5 room',
	product: 'c 3.6 room',
	content: 'c 3.4 room',
	career: 'c 3.2 room',
}


const early_schedule = [
	{
		time: '10:45am',
		room: rooms.design,
		title: 'Designing with friction, it’s irritatingly good',
		speaker: 'Patima Tantiprasut',
	},
	{
		time: '11:20am',
		room: rooms.career,
		title: 'Becoming a design leader without becoming a design manager',
		speaker: 'Richard Sison',
	},
	{
		time: '11:55am',
		room: rooms.career,
		title: 'Should designers _____?',
		speaker: 'Corey Ginnivan',
	},
	{
		time: '1:50pm',
		room: rooms.frontEnd,
		title: 'Controlling, designing, and improving text on the web',
		speaker: 'Mandy Michael',
	},
]

const conflict_schedule = [
	{
		time: '2:25pm',
		room: rooms.career,
		title: 'Sync to Asnc - adjusting to the new work style',
		speaker: 'Anton Ball',
	},
	{
		time: '2:25pm',
		room: rooms.design,
		title: 'Operating a global fully remote product design team',
		speaker: 'Natalie Harper',
	},
]

const late_schedule = [
	{
		time: '3:00pm',
		room: rooms.frontEnd,
		title: 'Making Content Creation Tools Accessible',
		speaker: 'Julie Grundy',
	},
]
---

<Layout title="Schedule">
	<main class="p-8">
		<h1 class="text-2xl font-bold mb-8">Day two</h1>

		<div class="border-l-2 border-slate-200 space-y-6">
			{early_schedule.map((talk) => (
				<div class="px-4 relative">
					<p class="text-sm text-slate-700">{talk.time}</p>
					<h2 class="text-lg font-bold leading-tight">{talk.title}</h2>
					<p>{talk.speaker}, {talk.room}</p>
				</div>
			))}

			<div class="grid grid-cols-2">
				{conflict_schedule.map((talk) => (
					<div class="px-4 relative">
						<p class="text-sm text-slate-700">{talk.time}</p>
						<h2 class="text-lg font-bold leading-tight">{talk.title}</h2>
						<p>{talk.speaker}, {talk.room}</p>
					</div>
				))}
			</div>

			{late_schedule.map((talk) => (
				<div class="px-4 relative">
					<p class="text-sm text-slate-700">{talk.time}</p>
					<h2 class="text-lg font-bold leading-tight">{talk.title}</h2>
					<p>{talk.speaker}, {talk.room}</p>
				</div>
			))}
		</div>

	</main>
	<Navigation active='schedule' />
</Layout>

